{% extends 'layouts/base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1>About</h1>
    <p>
        Occaecat dolor adipisicing aliquip magna do excepteur officia. Sit deserunt amet proident exercitation et proident cupidatat duis ea occaecat voluptate ut. Occaecat adipisicing sit do ex et aliqua. Sunt excepteur esse qui quis adipisicing elit minim in. Id nulla in officia eu velit tempor labore consectetur non irure ea occaecat ut in. Consequat sint ullamco enim occaecat adipisicing fugiat commodo cillum aute occaecat ex laboris. Eiusmod labore cupidatat aliquip magna est qui tempor anim ad in reprehenderit voluptate proident fugiat.

    Ad Lorem incididunt est sunt consectetur nostrud consectetur id elit ea. Occaecat dolor ad amet nisi veniam adipisicing enim amet. Culpa cupidatat commodo esse velit eiusmod culpa cillum nostrud dolore cupidatat ea aute. Dolore pariatur dolor in consectetur consequat commodo nulla eu consectetur anim magna irure anim anim.
    </p>

{% endblock content %}