{% extends 'layouts/base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}

    <h1>Contact</h1>
    <p>
        Sunt sint culpa irure dolor eu elit et irure laborum officia do sint. Eu aliquip dolore qui sit laboris minim non esse aliqua sunt aliquip qui amet cupidatat. Est veniam excepteur sit reprehenderit nisi. Occaecat aute sint sint nisi et est. Quis incididunt nulla dolore pariatur. Pariatur consequat incididunt cupidatat labore exercitation irure.

    Pariatur duis dolor consequat minim non culpa id dolore id ad consectetur et nulla. Aliqua consequat excepteur deserunt reprehenderit nulla aliquip in nostrud reprehenderit tempor ipsum labore pariatur. Quis non velit magna nulla do velit eu commodo exercitation id.
    </p>

{% endblock content %}